[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.0"
functions-framework = "==3.8.2"
protobuf = "==6.30.2"
python-dotenv = "==1.1.0"
requests = "==2.32.3"
pandas = "*"
gspread = "*"
gspread-dataframe = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"
